<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858253052097-0n5ibjj8a595thh32jcvleand57hrjd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858253052097-0n5ibjj8a595thh32jcvleand57hrjd5</string>
	<key>API_KEY</key>
	<string>AIzaSyCVw0ARDfVlx7i5E3REbeIS9rIGO2nuVTM</string>
	<key>GCM_SENDER_ID</key>
	<string>858253052097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.SwiftfulFirebaseBC</string>
	<key>PROJECT_ID</key>
	<string>swiftfulfirebasebc</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfulfirebasebc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858253052097:ios:1949e58fab829fa866ec40</string>
</dict>
</plist>